.position {
  position: fixed !important;
  top: 80% !important;
  right: 0px !important;
}

.allH4 {
  font-size: 2rem;
}

#modalLogin {
  width: 500px;
}

.modal {
  box-shadow: black 0 0 5px 1px
}

.my_button {
  position: absolute;
  bottom: 10px;
}

.pic {
  margin-left: 100px;
  margin-bottom: 40px;
}

.pos {
  margin-left: 30px;
}

.pic1 {
  display: flex;
  background-image: url("../img/pic5.jpg");
  background-position: center;
  backface-visibility: hidden;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  flex: 1 1 auto;
  margin: 0 auto;
  transition: 0.3s ease-in-out;

}

/*img{
    display: flex;
    flex-shrink: 1;
}*/

.t1 {
  filter: opacity(.1);
}

.title1 {
  /*background-image: url("../img/back.png");*/
  background: rgba(0, 0, 0, .5);
  position: fixed;
  z-index: 1;
}

.tit1 {
  background-color: #282828;
  color: white !important;
}

.about {
  display: block;
  /*border: 1px solid black;*/
  opacity: 0.8;
  padding-left: 2%;
  padding-right: 2%;
  box-shadow: black 0px 0px 5px 1px;
  text-align: left;
  width: 60%;
  height: auto;
  color: black;
  background-color: white;
  margin: 5% auto 10px auto;
  /*filter: opacity(.95);*/
  overflow: auto;
  transition: 0.3s ease-in-out;
}

.about1 {
  height: auto;
  left: 0;
  top: 0;
  transition: 0.3s ease-in-out;

}

.main {
  display: flex;
  justify-content: center;
  background-image: url("../img/pic5.jpg");
  background-size: cover;
  position: relative;
  transition: 0.3s ease-in-out;
}

.about h4 p {
  flex: 0 1 auto;
}

.homeTitle {
  height: 381px;
  width: 483px;
  margin: 10% auto;
  background-image: url("../img/MainPageChar.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  transition: 0.3s ease-in-out;
}

.enHomeTitle {
  height: 381px;
  width: 483px;
  margin: 10% auto;
  background-image: url("../img/MainPageChar-en.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  transition: 0.3s ease-in-out;
}

.twHomeTitle {
  height: 381px;
  width: 483px;
  margin: 10% auto;
  background-image: url("../img/MainPageChar-tc.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  transition: 0.3s ease-in-out;
}

.homeButton1 {
  height: 50px;
  width: 200px;
  top: 400px;
  left: 10px;
  background-image: url("../img/Button-About-cn.png");
  position: absolute;
}

.homeButton2 {
  height: 50px;
  width: 200px;
  top: 400px;
  right: 10px;
  background-image: url("../img/Button-Apply-cn.png");
  position: absolute;
}

.enHomeButton1 {
  height: 50px;
  width: 200px;
  top: 400px;
  left: 10px;
  background-image: url("../img/Button-About-en.png");
  position: absolute;
}

.enHomeButton2 {
  height: 50px;
  width: 200px;
  top: 400px;
  right: 10px;
  background-image: url("../img/Button-Apply-en.png");
  position: absolute;
}

.twHomeButton1 {
  height: 50px;
  width: 200px;
  top: 400px;
  left: 10px;
  background-image: url("../img/Button-About-tc.png");
  position: absolute;
}

.twHomeButton2 {
  height: 50px;
  width: 200px;
  top: 400px;
  right: 10px;
  background-image: url("../img/Button-Apply-tc.png");
  position: absolute;
}

.baoming {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  box-shadow: black 0px 0px 5px 1px;
  padding: 1%;
  text-align: left;
  height: auto;
  color: black;
  background-color: white;
  align-self: center;
  margin-top: 15%;
  margin-bottom: 3%;
  filter: opacity(.95);
}

.applyContainer {
  position: relative;
  height: 500px;
}

.button {
  position: absolute;
  bottom: -30px;
}

.aboutus {
  /*display: flex;
  flex-direction: column;*/
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
  display: inline-block;
  width: 100px;
  margin-left: 10%;
  margin-right: 5%;
  margin-top: 20px;
}

.timeandmap {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
  /*margin-right: 10%;*/
  margin-left: 5%;
  margin-right: 5%;
  width: 300px;
}

.aboutandmap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.baidumap {
  width: 100%;
  height: 500px;
}

#qrmodal {
  width: 360px;
  padding: 0;
}

@font-face {
  font-family: 'iconfont';  /* project id 603550 */
  src: url('//at.alicdn.com/t/font_603550_722298y6s5gvte29.eot');
  src: url('//at.alicdn.com/t/font_603550_722298y6s5gvte29.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_603550_722298y6s5gvte29.woff') format('woff'),
  url('//at.alicdn.com/t/font_603550_722298y6s5gvte29.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_603550_722298y6s5gvte29.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  float: right;
  height: auto;
}

.icon2 {
  margin-left: 10px;
}

.foot {
  float: right;
  font-size: small;
  color: gray;
}
.AgendaProcess {
  display: flex;
  height: 100px;
  color: black;
  background-color: white;
  font-weight: 700 !important;
  filter: opacity(.9);
  overflow: auto;
}
@media only screen and (max-width: 1050px) {
  .applyContainer {
    height: 550px;
  }

}

@media only screen and (max-width: 700px) {
  .applyContainer {
    height: 650px;
  }

}

@media only screen and (max-width: 600px) {
  .applyContainer {
    height: 420px;
  }

}

@media only screen and (max-width: 500px) {
  #modalLogin {
    width: 90%;
  }

  .map {
    margin-left: 0;
  }

  .about1 {
    display: flex;
    justify-content: center;
    backface-visibility: hidden;
    height: auto;
    transition: 0.3s ease-in-out;
    font-size: 1rem;
    position: fixed;
    z-index: -1;
  }

  .about {
    width: 95%;

  }

  .pic1 {
    display: flex;
    background-image: url("../img/Background-1-Phone.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
    height: 100%;
    flex: 1 1 auto;
    margin: 0 auto;
    transition: 0.3s ease-in-out;

  }

  .main {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-image: url("../img/pic5.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .homeTitle {
    height: 270px;
    width: 285px;
    margin-top: 25%;
    background-image: url("../../static/img/MainPageChar-Phont.png");
  }

  .enHomeTitle {
    height: 270px;
    width: 285px;
    margin-top: 25%;
    background-image: url("../../static/img/MainPageChar-Phone-en.png");
  }

  .twHomeTitle {
    height: 270px;
    width: 285px;
    margin-top: 25%;
    background-image: url("../../static/img/MainPageChar-Phone-tc.png");
  }

  .homeButton1 {
    height: 30px;
    width: 110px;
    top: 300px;
    left: 10px;
    background-size: contain;
    background-repeat: no-repeat;

  }

  .homeButton2 {
    height: 30px;
    width: 110px;
    top: 300px;
    right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .enHomeButton1 {
    height: 30px;
    width: 110px;
    top: 300px;
    left: 10px;
    background-size: contain;
    background-repeat: no-repeat;

  }

  .enHomeButton2 {
    height: 30px;
    width: 110px;
    top: 300px;
    right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .twHomeButton1 {
    height: 30px;
    width: 110px;
    top: 300px;
    left: 10px;
    background-size: contain;
    background-repeat: no-repeat;

  }

  .twHomeButton2 {
    height: 30px;
    width: 110px;
    top: 300px;
    right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .AgendaProcess {
    display: flex;
    height: 130px;
    color: black;
    background-color: white;
    font-weight: 700 !important;
    filter: opacity(.9);
    overflow: auto;
  }
}

.workers {
  margin-left: 10%;
  margin-right: 10%;
}

.group {
  font-size: x-large;
  font-weight: 700;
}

.block {
  display: inline-block;
  width: auto;
  margin: 0;
  margin-right: -30px !important;
}

.person {
  text-align: center;
  width: 50%;
  text-align: center;
}

figure {
  margin-left: 0px !important;
}

figure + figure {
  margin-left: -50px;
}

.img {
  width: 50%;
  height: 50%;
}

.contact {
  font-size: x-large;
  font-weight: 700;
}



.process {
  align-self: center;
  /*padding-left: 50px;
  padding-right: 50px;*/
  padding-left: 9%;
  /*border-left: 2px solid black;*/
}

.start {
  align-self: center;
  width: 20%;
  text-align: center;
  border-left: 2px solid black;
}

.speach {
  align-self: center;
  width: 16.25%;
  text-align: center;
  /*border-left: 2px solid black;*/
}

.BorderRight {
  border-right: 2px solid black;
}

.time {
  align-self: center;
  text-align: center;
  width: 35%;
  /*padding: 30px 50px;*/
  border-right: 2px solid black;
}

.AgendaProcess + .AgendaProcess {
  margin-top: 40px;
}

.Background {
  background-image: url('../img/Background-3.jpg');
  background-size: cover;
  height: auto !important;
  background-attachment: fixed
}

.News {
  color: black;
  margin: 0 auto;
  background-color: white
}

.NewsTitle {
  width: 80%;
  margin: 20px auto;
  font-size: x-large;
  font-weight: 700
}

.NewsContent {
  width: 80%;
  margin: 20px auto
}

.NewsTime {
  width: 80%;
  margin: 20px auto;
  text-align: right;
  font-size: smaller;
}

.colorA {
  background-color: #51dde8;
}

.colorB {
  background-color: #5971ff;
}

.colorC {
  background-color: #66ccff;
}

.colorD {
  background-color: #59ffdd;
}

.colorE {
  background-color: #518ee8;
}

.colorF {
  background-color: #4fc8f4;
}

.agendaBox {
  height: 520px;
  overflow: auto;
  width: 100%;
  margin-top: 150px;
}

.NewsBox {
  width: 80%;
  margin: 0 auto;
  height: auto;
  margin-top: 7% !important;
}

.imgstyle {
  height: 100%;
  margin-right: 0;
  padding: 0 !important;
}

.ImgWordStyle {
  color: #ffffff;
  position: relative;
  height: 100%;
  background-color: lightskyblue;
  padding-left: 3%;
  padding-right: 3%;
}

.ImgContent {
  /*font-size: 2vw;*/
  font-size: x-large;
  margin: 0 auto;
}

.line {
  width: 30%;
  height: 1px;
  border: 2px solid black
}

.line1 {
  position: absolute;
  bottom: 12vh;
  width: 30%;
  height: 1px;
  border: 2px solid black
}

.lineBigger {
  position: absolute;
  bottom: 11vh;
  width: 30%;
  height: 0px;
  border: 2px solid black
}

.contentfont {
  position: absolute;
  bottom: 1vh;
  font-size: 1vw
}

.newsbelow {
  width: 80%;
  margin: 10vh auto;
  min-height: 80vh;
}

.newsbelowboxstyle {
  margin-right: 5%;
  background-color: #00b8d4;
  margin-top: 5%;
  height: 45vh;
  position: relative;
}

.newsbelowcontentfont {
  /*font-size: 2vw;*/
  font-size: x-large;
  color: white
}

.newsbelowfontbelow {
  /*font-size: 1vw;*/
  color: white;
  font-size: large;
  margin-top: 0;
  position: absolute;
  bottom: 1vh;
}

.iconstyle {
  vertical-align: middle;
  margin-left: 1%;
  width: 35px;
}

.iconstyleA {
  vertical-align: middle;
  margin-left: 1%;
  height: 35px;
}

.bottomwords {
  color: #5f5f5f;
  float: right
}

.post-image img {
  margin: auto;
  display: block;
}

.newsBackground {
  background-image: url('../img/pic5.jpg');
  background-size: cover;
  height: auto !important;
  background-attachment: fixed
}

.processes {
  width: 100%;
  margin-top: 40px;
}
.headpic{
  width: 40%;
}
.processstyle{
  width: 100%;
}
