<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Parallax Template - Materialize</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/static/css/css1.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>

    <div id="title">
        <div class="tit">
            <span class="t1">SOSCON</span>
            <span class="t1 t2">18</span>
            <button class="t4 t3">Call for Paper</button>
            <span class="t4">首页</span>
        </div>
    </div>

    <div class="container">
        <div class="section">


            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">accessibility</i></h2>
                        <h5 class="center">学生年会</h5>

                        <p class="light" style="font-weight:400">SOSON全称是学生开源年会 ( Student Open Source Conference )是中国大陆首届面向学生的开源会议，讲者，工作人员，听众几乎全为学生，畅想未来，我们学生更有感觉。</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">lock_open</i></h2>
                        <h5 class="center">开源平台</h5>

                        <p class="light" style="font-weight:400">SOSCON基于开源的理念，希望更多地新同学可以参与到开源项目当中，结识朋友，也希望让长期参与开源项目和认同开源理念的同学分享自己的技术和经验。</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">screen_share</i></h2>
                        <h5 class="center">自由分享</h5>

                        <p class="light" style="font-weight:400">SOSCON提供了一个让学生开发者自由交流的平台，希望可以让更多的同学参与到开源项目当中，也希望让长期参与开源项目和认同开源理念的同学分享经验和技术。</p>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="container">
        <div class="section">


            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">bookmark</i></h2>
                        <h5 class="center">投稿主题</h5>

                        <p class="light">
                            <ul style="list-style:disc">
                                <li>开源贡献</li>
                                <li>技术体会</li>
                                <li>工作经验</li>
                                <li>研究收获</li>
                                <li>其他很多技术相关方面</li>
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">assignment</i></h2>
                        <h5 class="center">投稿要求</h5>

                        <p class="light">
                            <ul>
                                <li>题目:必填（20字以内）</li>
                                <li>摘要:必填（大致说明内容，150字以内）</li>
                                <li>附件:可以附上程序码，幻灯片，或任何您认为有助于我们了解您的内容的附件。</li>
                                <li>投稿时，请附带上您的个人信息，包括电子邮箱地址，名称，联系电话或其他联系方式，以便联系。</li>
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">mail</i></h2>
                        <h5 class="center">投稿方式</h5>

                        <p class="light">
                            <ul>
                                <li>负责人: 刘煜民</li>
                                <li>邮箱:lbb@openingsource.org</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>








    <footer class="page-footer teal col1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">关于我们</h5>
                    <span>———</span>
                    <p class="grey-text text-lighten-4">SOSON全称是学生开源年会 ( Student Open Source Conference )是中国大陆首届面向学生的开源会议，讲者，工作人员，听众几乎全为学生，畅想未来，我们学生更有感觉。</p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">联系我们</h5>
                    <span>———</span>
                    <p class="grey-text text-lighten-4">总召:刘煜民<br/>Email:lbb@openingsource.org</p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">关注我们</h5>
                    <span>———</span>
                    <ul style="overflow:hidden">
                        <li class="foo"><a class="white-text" href="#!">We chat</a></li>
                        <li class="foo fo1"><a class="white-text" href="#!">Telegram</a></li>
                        <li class="foo fo1"><a class="white-text" href="#!">QQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright col2">
            <div class="container">
                <span class="bor pos">畅想未来，拥抱开源。Copyleft@2018学生开源联会SITCON.top</span>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/static/js/materialize.js"></script>
    <script src="/static/js/init.js"></script>

</body>
</html>